<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.ristek.strokeapp"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.ristek.strokeapp.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.ristek.strokeapp.LevelSelector"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="org.ristek.strokeapp.LevelResult"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="org.ristek.strokeapp.Questions"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="org.ristek.strokeapp.HighScoreScreen"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="org.ristek.strokeapp.OpeningActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="org.ristek.strokeapp.StrokeFact"
            android:label="Kisah Inspiratif"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="org.ristek.strokeapp.GestureActivity"
            android:label="@string/title_activity_gesture"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>