<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.ristek.strokeapp"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LevelSelector"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".LevelResult"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".LevelQuestion"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".HighScoreScreen"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".OpeningActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".StrokeFact"
            android:label="Kisah Inspiratif"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".LevelGesture"
            android:label="@string/title_activity_gesture"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>